.main-header
    background-color: palegoldenrod
    height: 60px
    
    nav
        ul
            display: flex
            list-style: none
            justify-content: space-around
            padding: 20px 30px 20px 30px
            margin: 0
            
h1
    text-align: center